.roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
*{
    font-size: 1.6vh;
    font-family: Roboto;
    text-shadow: 2px 2px 5px black;
}

h1{
    font-size: 2rem;
}

body{
    text-align: center;
    color:white;
    
}

html, body {
    height: 100%;
    margin: 0;
}


footer{
    height: 7%;
    width: 100%;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 107, 0.5);
    backdrop-filter: blur(10px);
    /* border-top: 3px solid aqua; */
}

main{
    height: 100%;
    background-image: url("milionerzy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#nastepneOkno,#koniecGry{
    display:none; 
}


#quiz{
    background-color: rgba(28, 28, 107, 0.5);
    backdrop-filter: blur(10px);
    height: 40%;
    width: 100%;
    bottom: 0;
    position: absolute;
    display:none; 
    border-top: 3px solid aqua;
    box-sizing: border-box;
}

#pytanie{
    height: 20%;
}

#odpowiedzi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
#odpowiedziGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    width: 75%;
    height: 100%;
}

.odp{
    text-align: left;
    padding-left: 20px;
}

button{
    /* background: linear-gradient(to right, hsl(240, 100%, 56%), hsl(240, 100%, 20%)); */
    background-color: hsl(240, 100%, 60%);
    border: 2px solid white;
    border-radius: 100px;
    color:white;
    font-size: 2em;
    cursor:pointer;
    transition: ease 0.5s;
}
button:hover{
    transform: scale(1.025);
    transition: ease 0.5s;
    box-shadow: 0 0 20px aqua;
}

.poprawna{
    /* background: linear-gradient(to right, hsl(135, 100%, 56%), hsl(135, 100%, 20%)); */
    background-color: hsl(135, 100%, 40%);
}

.zla{
    /* background: linear-gradient(to right, hsl(0, 100%, 56%), hsl(0, 100%, 20%)); */
    background-color: hsl(0, 100%, 40%);
}

.czekaj{
    /* background: linear-gradient(to right, hsl(41, 100%, 56%), hsl(41, 100%, 20%)); */
    background-color: hsl(39, 100%, 55%);
}

#mainmenu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start{
    position: absolute;
    bottom:30%;
    width: 15%;
}

/* #mainmenu div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.przycisk{
    height: 10%;
    width: 100%;
}

#prawy{
    height: 100%;
    width: 15%;
    float:right;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(37, 37, 142,0.75);
    border-left: 3px solid aqua;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

#lewy{
    height: 100%;
    width: 15%;
    float:left;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(37, 37, 142,0.75);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-right: 3px solid aqua;
}

#srodek{
    height: 100%;
    width: 70%;
    float:left;
}

#srodekmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#staty{
    height: 10%;
    background-color: rgba(93, 93, 213,0.7);
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    border-bottom: 3px solid aqua;
}

#staty p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    height: 100%;
}

#menu{
    display:none;
    height: 60%;
}

.szczebel, .orango,.literka{
    font-size: 2rem;
}

.pogrubienie{
    background-color:orange;
    color:white;
    font-weight: bold;
    /* text-shadow: 1px 1px 5px black; */
    border-radius: 15px;
}

#lewy div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.kolo{
    transition: ease 0.5s;
    cursor: pointer;
    width: 70%;
}

.kolo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px aqua);
}

.kolonieaktywne{
    width: 70%;
    transition: ease 0.5s;
    filter: grayscale(1) brightness(50%);
    cursor: not-allowed;
}

#publicznoscOkno{
    display:none;
    background: linear-gradient(to right, hsl(240, 100%, 56%), hsl(240, 100%, 20%));
    width: 40%;
    height: 60%;
    font-size: 2rem;
    text-align: left;
    padding:20px;
    border-radius: 20px;
    border:3px solid aqua;
    box-shadow: 0 0 20px aqua;
}

#publicznoscOkno table{
    width: 100%;
    height: 100%;
    table-layout: fixed;
    
}


.pasek{
    width: 0;
    height: 20px;
    background-color: white;
    float:left;
}

.literka{
    width: 40px;
    color:orange;
}


#telefonOkno{
    display:none;
    background: linear-gradient(to right, hsl(240, 100%, 56%), hsl(240, 100%, 20%));
    width: 30%;
    height: 80%;
    border-radius: 20px;
    border:3px solid aqua;
    box-shadow: 0 0 20px aqua;
}

#imie{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

#zdjecie{
    height: 70%;
    background-image: url(joe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#porada{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.ukryj{
    transform: scale(0);
}

.orango{
    color:orange;
}

p,h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}
